body {
    background: url(images/musicListening.jpeg) no-repeat fixed center;
    background-size: cover;
    padding-top: 100px;
    padding-bottom: 100px;
    text-align: center;
    height: 100vh;
    width: 100vw;
}
.container {
    background-color: rgba(224, 173, 172, 0.5);
    border: 1px solid black;
    margin-top: 100px;
    margin-bottom: 100px;
    height: 50%;
    width: 50%;
}