body {
    background: url(images/musicListening.jpeg) no-repeat fixed center;
    background-size: cover;
    padding-top: 100px;
    padding-bottom: 100px;
    text-align: center;
    height: 100vh;
    width: 100vw;
    font-weight: bold;
    font-family: Montserrat, sans-serif;
}
h1 {
    text-shadow: 4px 4px #ffffff;
}
h2,
h3,
h4,
h5 {
    color: #ffffff;
    text-shadow: 2px 2px #000000;
}
.container {
    background-color: rgba(224, 173, 172, 0.5);
    border: 1px solid black;
    border-radius: 4px;
    margin-top: 50px;
    margin-bottom: 100px;
    padding: 25px;
    height: 75%;
    width: 75%;
}
.pre-scrollable {
    max-height: 365px;
}
.hide {
    visibility: hidden;
}